.root * {
    box-sizing: border-box;
}
.findbar {
    border: 1px solid #595959;
    border-radius: 6px;
    padding: 10px 15px;
    width: 100%;
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
}
.findbar:focus {
    border: 2px solid #000000;
    outline: none;
}
.suggestions {
    position: absolute;
    top: 0;
    transform: translateY(85px);
    background: #fcfcfc;
    border: 2px solid rgb(34, 34, 34);
    width: 100%;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.listItem {
    padding: 10px 15px;
    cursor: pointer;
}
.listItem:hover {
    background: #efefef;
    border: 1px solid #001b92;
}
