.placeDetailContainer {
    display: flex;
    max-width: 350px;
    max-height: 150px;
    flex-wrap: nowrap;
    border: 1px solid rgb(87, 87, 87);
    flex-wrap: nowrap;
    overflow-y: hidden;
    margin-bottom: 10px;
    align-items: center;
}
.placeDetailImg {
    max-height: 150px;
    max-width: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.placeDetailImg img {
    max-height: 150px;
    max-width: 200px;
}
.placeDetailInfo {
    display: flex;
    flex-direction: column;
    width: 200px;
    overflow-y: hidden;
}
.placeDetailHeader {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}
.placeDescription {
    overflow-y: auto;
    hyphens: auto;
    max-width: 180px;
    max-height: 80px;
}
.placeDetailBtns {
    overflow-y: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    top: 90%;
}
.placeDetailBtns button {
    font-size: 10px;
    width: 60px;
    height: 30px;
}
.btns{
    display: flex;
    justify-content: center;
}
.btn{
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}