.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 53vh;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Больше, чем у других элементов */
    background-color: white;
    padding: 0px;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.modalwrapper{
    margin: 5px;
    box-sizing: border-box; /* Добавьте это свойство */
    display: flex;
    flex-direction: column;

}
.modalheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modalheader h3{
    font-size: 25px;
}
.modalheader button{
    color: black;
    background-color: white;
    position: absolute; /* Используйте абсолютное позиционирование */
    top: 5px; /* Позиционируйте кнопку относительно верхнего края */
    right: 5px; /* Позиционируйте кнопку относительно правого края */
    border: none;
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.modalmain{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.modalmain img{
    max-width: 300px;
    max-height: 200px;
    width: 250px;
    height: 190px;
    padding-right: 2%;
}
.modalmain h4{
max-width: 500px;
max-height: 150px;
overflow-y: auto;
}
.modalreviews{
    display: flex;
    flex-direction: column;
}
.modalreviews p{
    margin-top: -2px;
    font-size: 18px;
}
.modalreviewsBox{
    border: 1px solid black;
}
.modalreviewsInputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modalreviewsInputs textarea{
    width: 100%;
}
.modalreviewsInputs button{
    width: 7%;
}
.modalbtngroup button {
    width: 35%; /* Устанавливаем одинаковую ширину для обеих кнопок */
    max-width: 150px; /* Максимальная ширина кнопок */
}
.modalbtngroup{
    display: flex;
    position: absolute;
    bottom: 2%;
    width: 99%;
   
    justify-content: space-between;
}