.wrapper {
    padding: 40px;
    position: fixed;
    width: 400px;
    height: 100vh;
    z-index: 1000;
    background-color: #f6f5ef;
    border-right: 2px solid black;
    transform: translateX(-100%);
    transition: all 0.4s;
}
.wrapper.active {
    transform: translateX(20%);
    animation: 0.5s;
}
input {
    font-size: 16px;
    border: 1px solid #979797;
    width: 350px;
    height: 60px;
    border-radius: 10px;
}
