.addresSearchContainer{
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
@media (max-width: 320px) {
  .addresSearchContainer{
    max-width: 320px;
    width: 80%;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}